body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.dezena {
    border: 1px solid #333;
    padding: 15px;
    cursor: pointer;
}

.dezena.selecionada {
    background: green;
    color: white;
}
